---

---

<section class="max-w-7xl mx-auto px-8 scroll-mt-20" id="projects">
  <div
    class="mb-16 flex flex-col gap-5 md:flex-row items-baseline justify-between"
  >
    <h2 class="text-5xl font-black tracking-tighter text-on-surface">
      Featured Projects
    </h2>
    <div class="h-px bg-outline-variant/20 grow mx-8 hidden md:block"></div>
    <a
      class="font-label text-sm text-primary uppercase tracking-widest hover:underline decoration-2 underline-offset-8"
      href="#">View all projects</a
    >
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Card 1 -->
    <div
      class="bg-gray-500/20 rounded-2xl overflow-hidden group hover:translate-y-8px transition-transform duration-300"
    >
      <div class="h-48 overflow-hidden bg-surface-container-lowest">
        <img
          class="w-full h-full object-cover group-hover:scale-105 group-hover:opacity-100 transition-all duration-700"
          data-alt="Abstract visualization of a node-based network engine with glowing blue connection points on a dark grid"
          src="onlygirlsccs.png"
        />
      </div>
      <div class="p-8 space-y-6">
        <div
          class="flex flex-col justify-between items-center gap-4 lg:flex-row lg:items-start"
        >
          <h4 class="text-2xl font-bold text-primary">Onlygirlsccs</h4>
          <div class="flex gap-3 text-on-surface-variant">
            <a
              href="#"
              class="cursor-pointer hover:scale-110 transition-transform duration-200"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-code"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path
                  d="M14 4l-4 16"></path></svg
              >
            </a>
            <a
              href="https://github.com/lpalacios1410/OnlyGirlsCss-Ecommerce"
              class="cursor-pointer hover:scale-110 transition-transform duration-200"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-link"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M9 15l6 -6"></path><path
                  d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"
                ></path><path
                  d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"
                ></path></svg
              >
            </a>
          </div>
        </div>
        <p class="text-on-surface-variant text-sm leading-relaxed">
          I work as a delivery driver for an online store in Caracas, Venezuela.
          I also helped create a small system so our customers can view our
          catalog. This allows us to stop relying on WhatsApp and offer other
          options.
        </p>
        <div class="flex flex-wrap gap-2">
          <div class="flex flex-col items-center">
            <svg
              class="text-blue-400"
              width="26"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-react-native"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M6.357 9c-2.637 .68 -4.357 1.845 -4.357 3.175c0 2.107 4.405 3.825 9.85 3.825c.74 0 1.26 -.039 1.95 -.097"
              ></path><path
                d="M9.837 15.9c-.413 -.596 -.806 -1.133 -1.18 -1.8c-2.751 -4.9 -3.488 -9.77 -1.63 -10.873c1.15 -.697 3.047 .253 4.974 2.254"
              ></path><path
                d="M6.429 15.387c-.702 2.688 -.56 4.716 .56 5.395c1.783 1.08 5.387 -1.958 8.043 -6.804c.36 -.67 .683 -1.329 .968 -1.978"
              ></path><path
                d="M12 18.52c1.928 2 3.817 2.95 4.978 2.253c1.85 -1.102 1.121 -5.972 -1.633 -10.873c-.384 -.677 -.777 -1.204 -1.18 -1.8"
              ></path><path
                d="M17.66 15c2.612 -.687 4.34 -1.85 4.34 -3.176c0 -2.11 -4.408 -3.824 -9.845 -3.824c-.747 0 -1.266 .029 -1.955 .087"
              ></path><path
                d="M8 12c.285 -.66 .607 -1.308 .968 -1.978c2.647 -4.844 6.253 -7.89 8.046 -6.801c1.11 .679 1.262 2.706 .56 5.393"
              ></path><path
                d="M12.26 12.015h-.01c-.01 .13 -.12 .24 -.26 .24a.263 .263 0 0 1 -.25 -.26c0 -.14 .11 -.25 .24 -.25h-.01c.13 -.01 .25 .11 .25 .24"
              ></path></svg
            >
          </div>
          <svg
            class="text-green-700"
            width="26"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-nodejs"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M9 9v8.044a2 2 0 0 1 -2.996 1.734l-1.568 -.9a3 3 0 0 1 -1.436 -2.561v-6.635a3 3 0 0 1 1.436 -2.56l6 -3.667a3 3 0 0 1 3.128 0l6 3.667a3 3 0 0 1 1.436 2.561v6.634a3 3 0 0 1 -1.436 2.56l-6 3.667a3 3 0 0 1 -3.128 0"
            ></path><path
              d="M17 9h-3.5a1.5 1.5 0 0 0 0 3h2a1.5 1.5 0 0 1 0 3h-3.5"
            ></path></svg
          >
          <svg
            class="text-cyan-600"
            width="26"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tailwind"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M11.667 6c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 2 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968m-4 6.5c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 1.975 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968"
            ></path></svg
          >
        </div>
        <span
          class="bg-black/50 shadow-lg shadow-white/10 p-1.5 rounded-xs font-bold"
        >
          Full Stack Project
        </span>
      </div>
    </div>
  </div>
</section>
