---
import react from "../icons/react.svg";
import tailwind from "../icons/tailwindcss.svg";
import nodejs from "../icons/nodejs.svg";
import javascript from "../icons/javascript.svg";
import postgresql from "../icons/postgresql.svg";
import CardProject from "./CardProject.astro";
import imgProyecto1 from "../../public/onlygirlsccs.png";
const projects = [
  {
    title: "E-commerce onlygirlsccs",
    subtitle: "App web",
    category: "Gestion de productos",
    description:
      "Trabajo como repartidor para una tienda online en Caracas, Venezuela. También ayudé a crear un pequeño sistema para que nuestros clientes puedan ver nuestro catálogo. Esto nos permite dejar de depender de WhatsApp y ofrecer otras opciones.",
    languages: [
      { label: "React", icon: react },
      { label: "JavaScript", icon: javascript },
      { label: "Tailwind", icon: tailwind },
      { label: "NodeJs", icon: nodejs },
      { label: "PostgreSQL", icon: postgresql },
    ],
    status: "Activo",
    imageSrc: imgProyecto1,
    imageAlt: "Captura de pantalla de la tienda online",
    urlProject: "https://github.com/lpalacios1410/OnlyGirlsCss-Ecommerce",
    urlDemo: "https://onlygirlsccs-ecommerce-frontend.vercel.app/",
  },
];
---

<section class="max-w-7xl mx-auto px-8 py-20 scroll-mt-20" id="projects">
  <div
    class="mb-16 flex flex-col gap-5 md:flex-row items-baseline justify-between"
  >
    <h2
      class="projects-title text-5xl font-black tracking-tighter text-on-surface"
    >
      Featured Projects
    </h2>
    <div class="h-px bg-outline-variant/20 grow mx-8 hidden md:block"></div>
    <a
      class="font-label text-sm text-primary uppercase tracking-widest hover:underline decoration-2 underline-offset-8"
      href="#">View all projects</a
    >
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    {
      projects.map((project, index) => (
        <CardProject {...project} index={index} />
      ))
    }
  </div>
</section>

<!-- SCRIPT DE GSAP -->

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".projects-title", {
    scrollTrigger: {
      trigger: "#projects",
      start: "top 80%",
    },
    opacity: 0,
    x: -50,
    duration: 0.8,
    ease: "power3.out",
  });

  gsap.utils.toArray(".project-card").forEach((card: any, i: number) => {
    gsap.from(card, {
      scrollTrigger: {
        trigger: card,
        start: "top 90%",
        toggleActions: "play none none reverse",
      },
      opacity: 0,
      y: 80,
      scale: 0.95,
      duration: 0.8,
      delay: i * 0.15,
      ease: "power2.out",
    });
  });
</script>
