---
import CardProject from "./CardProject.astro";
---

<section class="max-w-7xl mx-auto px-8 scroll-mt-20" id="projects">
  <div
    class="mb-16 flex flex-col gap-5 md:flex-row items-baseline justify-between"
  >
    <h2 class="text-5xl font-black tracking-tighter text-on-surface">
      Featured Projects
    </h2>
    <div class="h-px bg-outline-variant/20 grow mx-8 hidden md:block"></div>
    <a
      class="font-label text-sm text-primary uppercase tracking-widest hover:underline decoration-2 underline-offset-8"
      href="#">View all projects</a
    >
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Card 1 -->
    <CardProject />
  </div>
</section>
