---
import { Icon } from "astro-icon/components";
---

<section class="skills bg-gray-500/10 py-12 mt-5 mb-5 relative scroll-mt-20">
  <div class="mb-16 text-center">
    <div class="flex items-center justify-center gap-4 mb-4">
      <h2
        class="text-3xl md:text-5xl font-black tracking-widest flex items-center gap-4 text-on-surface"
      >
        {`{}`} Habilidades
      </h2>
    </div>
  </div>
  <div class="max-w-7xl mx-auto px-8">
    <!-- Abajo se ajusta todo -->
    <div class="grid grid-cols-1 md:grid-cols-12 gap-16">
      <div
        class="col-span-4 md:col-span-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
      >
        <!-- Frontend Stack -->
        <div
          class="cardSkill bg-gray-500/10 rounded-2xl border-t-3 border-blue-600 overflow-hidden"
        >
          <div class="bg-black/30">
            <div
              class="flex items-center gap-8 p-2 border-b mb-3 border-white/50"
            >
              <div class="flex gap-2">
                <div class="w-3 h-3 rounded-full bg-red-500"></div>
                <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
                <div class="w-3 h-3 rounded-full bg-green-500"></div>
              </div>
              <h4
                class="font-label text-lg font-bold tracking-tight w-1/2 text-center"
              >
                FRONTEND
              </h4>
            </div>
          </div>
          <div class="grid grid-cols-2 xs:grid-cols-3 gap-4 p-4">
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="html" class="w-15 h-12 hover:scale-110" />HTML 5
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="css" class="w-15 h-12 hover:scale-110" />CSS 3
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="javascript" class="w-15 h-12" /> JavaScript
            </div>
            <!-- <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="typescript" class="w-15 h-12" /> TypeScript
            </div> -->
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="react" class="w-15 h-12" />React
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="astro" class="w-15 h-12" />Astro
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="tailwindcss" class="w-15 h-12" />Tailwind CSS
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="bootstrap" class="w-15 h-12" />Bootstrap
            </div>
          </div>
        </div>
        <!-- Backend Stack -->
        <div
          class="cardSkill bg-gray-500/10 rounded-2xl border-t-3 border-green-600 overflow-hidden"
        >
          <div class="bg-black/30">
            <div
              class="flex items-center gap-8 p-2 border-b mb-3 border-white/50"
            >
              <div class="flex gap-2">
                <div class="w-3 h-3 rounded-full bg-red-500"></div>
                <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
                <div class="w-3 h-3 rounded-full bg-green-500"></div>
              </div>
              <h4
                class="font-label text-lg font-bold tracking-tight w-1/2 text-center"
              >
                BACKEND
              </h4>
            </div>
          </div>
          <div class="grid grid-cols-2 xs:grid-cols-3 gap-4 p-4">
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="nodejs" class="w-15 h-12 hover:scale-110" />Node JS
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="expressjs" class="w-15 h-12 hover:scale-110" />Express
              JS
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="python" class="w-15 h-12 hover:scale-110" />Python
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon
                name="postgresql"
                class="w-15 h-12 hover:scale-110"
              />PostgreSQL
            </div>
          </div>
        </div>
        <!-- Tools Stack -->
        <div
          class="cardSkill bg-gray-500/10 rounded-2xl border-t-3 border-red-600 overflow-hidden"
        >
          <div class="bg-black/30">
            <div
              class="flex items-center gap-8 p-2 border-b mb-3 border-white/50"
            >
              <div class="flex gap-2">
                <div class="w-3 h-3 rounded-full bg-red-500"></div>
                <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
                <div class="w-3 h-3 rounded-full bg-green-500"></div>
              </div>
              <h4
                class="font-label text-lg font-bold tracking-tight w-1/2 text-center"
              >
                HERRAMIENTAS
              </h4>
            </div>
          </div>
          <div class="grid grid-cols-2 xs:grid-cols-3 gap-4 p-4">
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="github" class="w-15 h-12 hover:scale-110" />Github
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="git" class="w-15 h-12 hover:scale-110" />Git
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="copilot" class="w-15 h-12 hover:scale-110" />GitHub
              Copilot
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="vscode" class="w-15 h-12 hover:scale-110" />Visual
              Studio Code
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="postman" class="w-15 h-12 hover:scale-110" />Postman
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon name="docker" class="w-15 h-12 hover:scale-110" />Docker
            </div>
            <div
              class="flex items-center justify-center flex-col font-bold hover:scale-110 transition duration-200"
            >
              <Icon
                name="playwright"
                class="w-15 h-12 hover:scale-110"
              />Playwiright
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  // Animación para la sección completa
  gsap.fromTo(
    ".skills",
    { opacity: 0, y: 10 },
    {
      opacity: 1,
      y: 0,
      ease: "power2.out",
      scrollTrigger: {
        trigger: ".skills",
        start: "top 85%", // Caja -> viewport
        scrub: 1,
      },
    },
  );

  // Animación para las cards
  gsap.fromTo(
    ".cardSkill",
    { opacity: 0, x: -300 },
    {
      opacity: 1,
      x: 0,
      duration: 2,
      ease: "power2.out",
      scrollTrigger: {
        trigger: "#skills",
        start: "20% center",
        toggleActions: "play none none reverse",
      },
    },
  );
</script>
